<ion-content [fullscreen]="true">
  <div class="logoContainer">
    <div class="skipbtn"><a [routerLink]="['/home']">Skip</a></div>
    <div class="logo"><img src="../../../assets/images/logo.png"></div>
    <!-- <div class="title">Astrotalk</div> -->
    <div class="logoFooter">
      <div class="boxDesign1">First Chat with Astrologer is FREE!</div>
      <div class="">
        <form #loginForm="ngForm" (ngSubmit)="submitPost(loginForm)">
          <ion-item lines="none" class="phone-item">
            <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="postData.email" required email
              #email="ngModel">
            </ion-input>
          </ion-item>
          <div class="error-msg" *ngIf="email.invalid && email.touched">Please enter a valid email address</div>

          <ion-item lines="none" class="phone-item">
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="postData.password"
              required minlength="6" #password="ngModel">
            </ion-input>
          </ion-item>
          <div class="error-msg" *ngIf="password.invalid && password.touched">Password is required (min 6 characters)</div>

          <ion-button expand="block" class="custom-btn" type="submit">
            Login
          </ion-button>
        </form>
      </div>

      <p class="terms-text">
        By signing up, you agree to our
        <a [routerLink]="['/home']">Terms of Use</a>
        and
        <a [routerLink]="['/home']">Privacy Policy</a>.
      </p>

      <!-- Sign Up Section -->
      <div class="signup-section">
        <div class="divider">
          <span>OR</span>
        </div>
        <p class="signup-text">Don't have an account?</p>
        <ion-button expand="block" class="signup-btn" [routerLink]="['/register']">
          Create New Account
        </ion-button>
      </div>
 <app-totalcount></app-totalcount>
    </div>
     
  </div>

</ion-content>