<div class="p15">
<div class="hesdingWithBtn">
  <div class="leftAlignTitle">Top Astrologers</div>
  <a href="#" class="viewAll">View All</a>
</div>
  <div id="container">
    <swiper-container slides-per-view="2.5" space-between="15" loop="true" pagination="false" autoplay-delay="99000"
      loop="true" space-between="15" breakpoints='{
    "320":  { "slidesPerView": 2.3 },
    "640":  { "slidesPerView": 2.2 },
    "1024": { "slidesPerView": 2.5 }
  }'>

      <swiper-slide *ngFor="let astro of topAstrologers">
        <div class="topAstroBox" [routerLink]="['/astroprofile']">
          <span class="topAstroBoxactive"></span>

          <div class="topAstroBoxImg"[routerLink]="['/astroprofile']"><img [src]="astro.profile_image_url" style="height: 60px;"></div>
          <div class="astroDetails">
            <div class="topAstroName">{{astro.display_name}}</div>

            <span class="astroLang" *ngFor="let languages of astro.languages">
              <span>{{languages.name}}, </span>
            </span>

            <div class="totalExp">Exp. : <strong>{{astro.experience_years}}</strong></div>
            <div class="astroCallorChatbtn">
              <a class="astrochaybtn" href="#"><img src="../../../assets/images/chat 1.png"> 20/Min </a> <a
                class="astrochaybtn" href="#"><img src="../../../assets/images/call.png"> 20/Min </a>
            </div>

          </div>
        </div>
      </swiper-slide>




      <!-- <swiper-slide>
        <div class="topAstroBox">
          <span class="topAstroBoxactive"></span>

          <div class="topAstroBoxImg" [routerLink]="['/astroprofile']"><img src="../../../assets/images/topAstroimg.png"></div>
          <div class="astroDetails">
            <div class="topAstroName">Acharya Aarshi</div>

            <div class="astroLang">English, Hindi, Bangla and Gujrati</div>

            <div class="totalExp">Exp. : <strong>5 Yrs</strong></div>
            <div class="astroCallorChatbtn">
              <a class="astrochaybtn" href="#"><img src="../../../assets/images/chat 1.png"> 20/Min </a> <a
                class="astrochaybtn" href="#"><img src="../../../assets/images/call.png"> 20/Min </a>
            </div>

          </div>
        </div>
      </swiper-slide>
       <swiper-slide>
        <div class="topAstroBox">
          <span class="topAstroBoxactive"></span>

          <div class="topAstroBoxImg"><img src="../../../assets/images/topAstroimg.png"></div>
          <div class="astroDetails">
            <div class="topAstroName">Acharya Aarshi</div>

            <div class="astroLang">English, Hindi, Bangla and Gujrati</div>

            <div class="totalExp">Exp. : <strong>5 Yrs</strong></div>
            <div class="astroCallorChatbtn">
              <a class="astrochaybtn" href="#"><img src="../../../assets/images/chat 1.png"> 20/Min </a> <a
                class="astrochaybtn" href="#"><img src="../../../assets/images/call.png"> 20/Min </a>
            </div>

          </div>
        </div>
      </swiper-slide>
       <swiper-slide>
        <div class="topAstroBox">
          <span class="topAstroBoxactive"></span>

          <div class="topAstroBoxImg"><img src="../../../assets/images/topAstroimg.png"></div>
          <div class="astroDetails">
            <div class="topAstroName">Acharya Aarshi</div>

            <div class="astroLang">English, Hindi, Bangla and Gujrati</div>

            <div class="totalExp">Exp. : <strong>5 Yrs</strong></div>
            <div class="astroCallorChatbtn">
              <a class="astrochaybtn" href="#"><img src="../../../assets/images/chat 1.png"> 20/Min </a> <a
                class="astrochaybtn" href="#"><img src="../../../assets/images/call.png"> 20/Min </a>
            </div>

          </div>
        </div>
      </swiper-slide>
       <swiper-slide>
        <div class="topAstroBox">
          <span class="topAstroBoxactive"></span>

          <div class="topAstroBoxImg"><img src="../../../assets/images/topAstroimg.png"></div>
          <div class="astroDetails">
            <div class="topAstroName">Acharya Aarshi</div>

            <div class="astroLang">English, Hindi, Bangla and Gujrati</div>

            <div class="totalExp">Exp. : <strong>5 Yrs</strong></div>
            <div class="astroCallorChatbtn">
              <a class="astrochaybtn" href="#"><img src="../../../assets/images/chat 1.png"> 20/Min </a> <a
                class="astrochaybtn" href="#"><img src="../../../assets/images/call.png"> 20/Min </a>
            </div>

          </div>
        </div>
      </swiper-slide> -->

    </swiper-container>
  </div>
</div>