<div class="">
<div class="sec6box">

  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="sec6textArea">
               
                <div class="pl15">
                  <div class="figcap1">{{ totalAstrologers }}</div>
                  <div class="figcap2">Total Astrologers</div>
                </div>
              </div>
    </ion-col>
    <ion-col><div class="sec6textArea">
              
                <div class="pl15">
                  <div class="figcap1">{{ yearsOfExcellence }}</div>
                  <div class="figcap2">Years Of Excellence</div>
                </div>
              </div>
            </ion-col>
    <ion-col><div class="sec6textArea">
                
                <div class="pl15">
                  <div class="figcap1">{{ happyCustomers }}</div>
                  <div class="figcap2">Happy Customers</div>
                </div>
              </div></ion-col>
  </ion-row>
</ion-grid>

</div>
          
        </div>