<div class="p15">
<div class="sec6box">

  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="sec6textArea">
                <div><img src="../../../assets/images/total-astro.png"></div>
                <div class="pl15">
                  <div class="figcap1">50000+</div>
                  <div class="figcap2">Total Astrologers</div>
                </div>
              </div>
    </ion-col>
    <ion-col><div class="sec6textArea">
                <div><img src="../../../assets/images/yearofex.png"></div>
                <div class="pl15">
                  <div class="figcap1">11+</div>
                  <div class="figcap2">Years Of Excellence</div>
                </div>
              </div>
            </ion-col>
    <ion-col><div class="sec6textArea">
                <div><img src="../../../assets/images/happycustomer.png"></div>
                <div class="pl15">
                  <div class="figcap1">500+</div>
                  <div class="figcap2">Happy Customers</div>
                </div>
              </div></ion-col>
  </ion-row>
</ion-grid>

</div>
          
        </div>