 .sec6box{ border: 1px solid #000; border-radius: 20px; padding:5px; background: #fff; }
    .sec6textArea{ display: flex;  align-items: center;}
    .figcap1{ font-size: 18px; font-weight: bold;  }
    .figcap2{ font-size: 12px;  }
    .pl15{ padding-left: 10px;}