
.sec5-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}
.sec5Box{  margin-top: 30px; transition: all 0.3s ease; border: 1px solid rgba(217, 217, 217, 1); border-radius: 15px; min-height: 35px; position: relative; padding: 5px; display: flex;
  align-items: center; justify-content: center; padding-top: 28px; border-bottom: 4px solid rgba(251, 217, 26, 1);}
  .sec5icon{ background: #000; border-radius: 100%; position: absolute; width: 50px; height:50px;
  top: -30px; text-align: center; left: 50%; transform: translateX(-50%); display: flex;  align-items: center;  justify-content: center; }
  .sec5text{ font-size: 14px; font-weight: 500;}
   .sec5Box a{ text-decoration: none; color: #000; display: block;}
   .sec5Box:hover{  color: #000; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); background: rgba(251, 217, 26, 1);  transform: translateY(-10px);}
    .sec5Box:hover .sec5icon{ background: #fff;}
    .sec5icon img{max-height: 50px; max-width:50px; flex-shrink: 0;}