.blogBox{  margin-bottom: 30px; padding-bottom: 20px;  border: 2px solid rgba(251, 217, 26, 1); border-radius: 10px; position: relative;}
    .blogImg img{ border-radius: 10px 10px 0px 0; }
 
    .blogStyle .owl-item img{ max-width: 100%; width: auto;}
    .dateandAstroaura{display: flex;
  justify-content:end;
  padding: 0px 5px 0px;}
  .blogDate{display: flex; align-items: center; gap: 10px; font-size: 8px; font-weight: 400;}
  .blogTitle{padding: 5px 0px 5px; min-height: 41px; font-size: 12px; }
 .blogreadmorebtn{ background: #fff; border-radius: 100%; position: absolute; width: 25px; height: 25px;
  bottom: -13px; left: 50%; transform: translateX(-50%);} 
  .blogBox:hover .readmorebtn{ background: transparent; }
  .blogTitle a{ color: #000; text-decoration: none;}