<div class="p15">
  <div class="hesdingWithBtn">
  <div class="leftAlignTitle">In The News</div>
 
  <a class="viewAll" routerLink="/blog-details">View All</a>
</div>

 <div id="container">
    <swiper-container slides-per-view="2.5" space-between="15" loop="true" pagination="false" autoplay-delay="99000"
      loop="true" space-between="15" breakpoints='{
    "320":  { "slidesPerView": 2.3 },
    "640":  { "slidesPerView": 2.2 },
    "1024": { "slidesPerView": 2.5 }
  }'>

      <swiper-slide *ngFor="let blog of relatedBlogs">
       <div class="blogBox" [routerLink]="['/blog-details', blog.slug]">
                <div class="blogImg"><img [src]="blog.image_url" /></div>
                <div class="blogTitle">
                 {{ blog.title }} 
                </div>
                <div class="dateandAstroaura">
<div class="blogDate">✍️ {{ blog.author }} </div>
<div class="blogDate"> 📅 {{ blog.created_at | date: 'MMM dd, yyyy' }}</div>
                </div>
                  <div  class="blogreadmorebtn" [routerLink]="['/blog-details', blog.slug]">
               
                <img src="../../../assets/images/readmore.png">
               
                </div>
              </div>
      </swiper-slide>
     
    
   
 

    </swiper-container>
  </div>
</div>
