<div class="p15">
  <div class="hesdingWithBtn">
  <div class="leftAlignTitle">In The News</div>
  <a href="#" class="viewAll">View All</a>
</div>

 <div id="container">
    <swiper-container slides-per-view="2.5" space-between="15" loop="true" pagination="false" autoplay-delay="99000"
      loop="true" space-between="15" breakpoints='{
    "320":  { "slidesPerView": 2.3 },
    "640":  { "slidesPerView": 2.2 },
    "1024": { "slidesPerView": 2.5 }
  }'>

      <swiper-slide>
       <div class="blogBox">
                <div class="blogImg"><a href="#"><img src="../../../assets/images/news.png" alt=""></a></div>
                <div class="blogTitle">
                 <a href="#">Bhai Dooj Story and Rituals You Should Know</a>
                </div>
                <div class="dateandAstroaura">
<div class="blogDate"> Wed, Oct 22, 2025</div>
                </div>
                
                <div class="blogreadmorebtn">
                 <a href="#"><img src="../../../assets/images/readmore.png"></a>
                </div>
              </div>
      </swiper-slide>
     <swiper-slide>
       <div class="blogBox">
                <div class="blogImg"><a href="#"><img src="../../../assets/images/news.png" alt=""></a></div>
                <div class="blogTitle">
                 <a href="#">Bhai Dooj Story and Rituals You Should Know</a>
                </div>
                <div class="dateandAstroaura">
<div class="blogDate"> Wed, Oct 22, 2025</div>
                </div>
                
                <div class="blogreadmorebtn">
                 <a href="#"><img src="../../../assets/images/readmore.png"></a>
                </div>
              </div>
      </swiper-slide>
      <swiper-slide>
       <div class="blogBox">
                <div class="blogImg"><a href="#"><img src="../../../assets/images/news.png" alt=""></a></div>
                <div class="blogTitle">
                 <a href="#">Bhai Dooj Story and Rituals You Should Know</a>
                </div>
                <div class="dateandAstroaura">
<div class="blogDate"> Wed, Oct 22, 2025</div>
                </div>
                
                <div class="blogreadmorebtn">
                 <a href="#"><img src="../../../assets/images/readmore.png"></a>
                </div>
              </div>
      </swiper-slide>
      <swiper-slide>
       <div class="blogBox">
                <div class="blogImg"><a href="#"><img src="../../../assets/images/news.png" alt=""></a></div>
                <div class="blogTitle">
                 <a href="#">Bhai Dooj Story and Rituals You Should Know</a>
                </div>
                <div class="dateandAstroaura">
<div class="blogDate"> Wed, Oct 22, 2025</div>
                </div>
                
                <div class="blogreadmorebtn">
                 <a href="#"><img src="../../../assets/images/readmore.png"></a>
                </div>
              </div>
      </swiper-slide>
      <swiper-slide>
       <div class="blogBox">
                <div class="blogImg"><a href="#"><img src="../../../assets/images/news.png" alt=""></a></div>
                <div class="blogTitle">
                 <a href="#">Bhai Dooj Story and Rituals You Should Know</a>
                </div>
                <div class="dateandAstroaura">
<div class="blogDate"> Wed, Oct 22, 2025</div>
                </div>
                
                <div class="blogreadmorebtn">
                 <a href="#"><img src="../../../assets/images/readmore.png"></a>
                </div>
              </div>
      </swiper-slide>

    </swiper-container>
  </div>
</div>
