
<div class="p15">
  <div class="option-grid">

    <!-- Chat Card -->
    <div class="option-card">
      <div class="badge">100% <span class="fs8">Authentic</span></div>

      <div class="card-body">
        <div class="text">
          <h2>CHAT</h2>
          <p>Tap, Book, and bring Sacred Rituals Home</p>
        </div>

        <div class="textRight">
         <img src="../../../assets/images/chat.png" />
        </div>
      </div>
    </div>

    <!-- Talk Card -->
    <div class="option-card">
      <div class="badge"><span class="fs8">Starting from</span> Rs 11/-</div>

      <div class="card-body">
        <div class="text">
          <h2>TALK</h2>
          <p>Offer with Devotion, Anytime, Anywhere</p>
        </div>

        <div class="textRight">
         <img src="../../../assets/images/talk.png" />
        </div>
      </div>
    </div>

    <!-- horoscope Card -->
    <div class="option-card">
      <div class="badge"><span class="fs8">Up to</span>60% <span class="fs8">Off</span></div>

      <div class="card-body">
        <div class="text">
          <h2>HOROSCOPE</h2>
          <p>Shop Spiritual Essentials while Embrace Modern Living</p>
        </div>

        <div class="textRight">
         <img src="../../../assets/images/horoscope.png" />
        </div>
      </div>
    </div>

    <!-- KUNDLI Card -->
    <div class="option-card">
      <div class="badge"><span class="fs8">Customize</span> Profile</div>

      <div class="card-body">
        <div class="text">
          <h2>KUNDLI</h2>
          <p>Personalise your Spiritual Journey</p>
        </div>

        <div class="textRight">
         <img src="../../../assets/images/kundli.png" />
        </div>
      </div>
    </div>

  </div>
  </div>


