<div class="footer">
  <ion-grid>
  <ion-row>
    <ion-col><div class="footerMenu" [routerLink]="['/home']"><img src="../../../assets/images/home.png"><span>Home</span></div></ion-col>
    <ion-col><div class="footerMenu" [routerLink]="['/all-astrologers']"><img src="../../../assets/images/chat-footer.png"><span>Chat</span></div></ion-col>
     <ion-col><div class="footerMenu" [routerLink]="['/all-astrologers']"><img src="../../../assets/images/call-footer.png"><span>Call</span></div></ion-col>
      <!-- <ion-col><div class="footerMenu"><img src="../../../assets/images/remedies.png"><span>Remedies</span></div></ion-col> -->
  
<ion-col><ion-menu-toggle><div class="footerMenu" (click)="openSideMenu()"><img src="../../../assets/images/profile.png"><span>Menu</span></div></ion-menu-toggle></ion-col>  </ion-row>
</ion-grid>
</div>
